<form method="POST" hx-target="this" hx-swap="outerHTML" hx-post="." id="main-dish-sauce-form" class="edit-form">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="btn-edit-view pb-2">
        {% if main_dish_sauce %}
            <button type="submit" hx-post="{% url 'update_main_dish_sauce' main_dish_sauce.id %}"
                class="btn btn-submit mt-2">
                Submit
            </button>
        {% else %}
            <button type="submit" id="main-dish-sauce-form" 
                class="btn btn-submit mt-2">
                Add
            </button>
        {% endif %}
    </div>
</form>



