{% load static %}
<h2 class="home-section-header">Dessert Sauces</h2>
<div class="btn-edit-view">
    <a href="{% url 'dessert_sauces' %}" class="btn btn-return mt-2" aria-label="Click to view dessert sauces">
        View
    </a>
    {% if user.is_superuser %}
    <a href="{% url 'add_dessert_sauce' %}" class="btn btn-return mt-2" aria-label="Click to add dessert sauce">
        Add
    </a>
    {% endif %}
</div>
<div id="carouselDessertSauce" class="carousel slide mt-2" data-bs-ride="carousel" data-bs-interval="3000"
    data-bs-pause="hover" data-bs-touch="true">
    <div class="carousel-inner">
        {% for dessert_sauce in dessert_sauces %}
        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" id="DessertSauce{{forloop.counter}}">
            <a href="{% url 'dessert_sauce_view' dessert_sauce.id %}"
                class="card-link {{dessert_sauce.dessert_sauce_name}}" aria-label="Click to view ">
                <div class="carousel-card view-border my-3 py-2">
                    <h2 class="carousel-name pt-1">{{dessert_sauce.dessert_sauce_name|title}}</h2>
                    <h3 class="carousel-type pt-1">{{dessert_sauce.dessert_sauce_type}}</h3>
                    <p class="carousel-desc pt-1">{{dessert_sauce.dessert_sauce_description|truncatechars:100}}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselDessertSauce" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselDessertSauce" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>