{% load static %}
<h2 class="home-section-header">Main Recipes</h2>
<div class="btn-edit-view">
  <a href="{% url 'mains' %}" class="btn btn-return mt-2" aria-label="Click to return">
    View
  </a>
  {% if user.is_superuser %}
  <a href="{% url 'add_main' %}" class="btn btn-return mt-2" aria-label="Click to return">
    Add
  </a>
  {% endif %}
</div>
<div id="carouselMain" class="carousel slide mt-2" data-bs-ride="carousel" data-bs-interval="3000" data-bs-pause="hover"
  data-bs-touch="true">
  <div class="carousel-inner">
    {% for main in main %}
    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" id="slide{{forloop.counter}}">
      <a href="{% url 'main_view' main.id %}" class="card-link" aria-label="Click to view {{main.main_name}}">
        <div class="carousel-card view-border my-3 py-2">
          <h3 class="carousel-name pt-1">{{main.main_name}}</h3>
          <h4 class="carousel-type pt-1">{{main.main_type}}</h4>
          <p class="carousel-desc pt-1">{{main.main_description|truncatechars:100}}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>