{% load static %}
<h2 class="home-section-header">Main Dishes</h2>
<div class="btn-edit-view">
  <a href="{% url 'main_dishes' %}" class="btn btn-return mt-2" aria-label="Click to return">
    View
  </a>
  {% if user.is_superuser %}
  <a href="{% url 'add_main_dish' %}" class="btn btn-return mt-2" aria-label="Click to return">
    Add
  </a>
  {% endif %}
</div>
<div id="carouselMainDish" class="carousel slide mt-2" data-bs-ride="carousel" data-bs-interval="3000"
  data-bs-pause="hover" data-bs-touch="true">
  <div class="carousel-inner">
    {% for main_dish in main_dish %}
    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" id="MainDish{{forloop.counter}}">
      <a href="#" class="card-link" aria-label="Click to view ">
        <div class="carousel-card view-border my-3 py-2">
          <h2 class="carousel-name pt-1">{{main_dish.main_dish_name|title}}</h2>
          <h3 class="carousel-type pt-1">{{main_dish.main_dish_type|title}}</h3>
          <p class="carousel-desc pt-1">{{main_dish.main_dish_description}}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselMainDish" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselMainDish" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>