{% load static %}
<h2 class="home-section-header">Menu</h2>
<div class="btn-edit-view">
  <a href="{% url 'menus' %}" class="btn btn-return mt-2" aria-label="Click to return">
    View
  </a>
  {% if user.is_superuser %}
  <a href="{% url 'add_menu' %}" class="btn btn-return mt-2" aria-label="Click to return">
    Add
  </a>
  {% endif %}
</div>
<div id="carouselMenuEb" class="carousel slide mt-2" data-bs-ride="carousel" data-bs-interval="3000"
  data-bs-pause="hover" data-bs-touch="true">
  <div class="carousel-inner">
    {% for menu in menu %}
    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" id="slide{{forloop.counter}}">
      <a href="#" class="card-link" aria-label="Click to view {{menu.menu_name}}">
        <div class="carousel-card view-border my-3 py-2">
          <h2 class="carousel-name pt-1">{{menu.title|title}}</h2>
          <h3 class="carousel-type pt-1">{{menu.menu_date}}</h3>
          <p class="carousel-desc pt-1">{{menu.menu_type|title}}</p>

        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselMenuEb" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>