{% load static %}
<h2 class="home-section-header">Products</h2>
<div class="btn-edit-view">
  <a href="{% url 'products' %}" class="btn btn-return mt-2" aria-label="Click to return">
    View
  </a>
  <a href="{% url 'add_product' %}" class="btn btn-return mt-2" aria-label="Click to return">
    Add
  </a>
</div>
<div id="carouselSauce" class="carousel slide mt-2" data-bs-ride="carousel" data-bs-interval="3000"
  data-bs-pause="hover" data-bs-touch="true">
  <div class="carousel-inner">
    {% for product in product %}
    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" id="slide{{forloop.counter}}">
      <a href="{% url 'products' %}" class="card-link" aria-label="Click to view products">
        <div class="carousel-card my-3 py-2 view-border">
          <h2 class="carousel-name pt-1">{{ product.product_name|title }}</h2>
          <h3 class="carousel-type pt-1">{{ product.product_type|title }}</h3>
          <p class="carousel-desc pt-1">{{ product.product_freshness|title }}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselSauce" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselSauce" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>