@import url('http://fonts.googlepis.com/css2?family=EB+Garmond:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

:root {
    /** Fonts */
    --headers: 'EB Garamond', serif, arial;
    --text-fonts: 'Roboto', serif, arial;

    /* Colours */
    --background: #ff00002c;
    --header-footer: #ff0000e7;
    --nav-txt: #000000;
    --nav-hover-txt: #e9ca1c;
    --btn-hover-txt: #000000b9;
    --btn-color: #ff0000;
    --header-txt: #000000;
    --main-txt: #000000;
    --bg-cover: #ffffffa1;
    --carousel-card: #c4c4c4;
    --card-bg: #ff00009c;
    --card-hover: #e9ca1c;
    --delete: #af0808;

    /* Box Styling */
    --box-shadows: 2px -3px 8px 0 #000000c9;
    --borders: 2px solid #000000;
    --border-view: 3px groove #818181;

}

html, body{
    height: 100%;
}

body{
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    font-family: var(--text-fonts);
    background: url(../images/background.webp) no-repeat center;
    background-color: var(--background);
    background-attachment:fixed;
}

section{
    margin-bottom: 25px;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--headers);
    color: var(--header-txt);
}

h1{
    font-size: 3rem;
}

main{
    flex: auto;
}

/* Header */

nav{
    border-bottom: var(--borders);
}

.navbar, .dropdown-menu{
    background-color: var(--header-footer);
    box-shadow: var(--box-shadows);
    padding:2px;
}


a.nav-link, a.dropdown-item, .btn-outline-success{
    color: var(--nav-txt);
}

a.nav-link:hover{
    color: var(--nav-hover-txt);
}

a.dropdown-item:hover{
    color: var(--nav-hover-txt);
    background-color: var(--header-footer);
}

button.navbar-toggler{
    border: var(--borders);
}

button.navbar-toggler:hover{
    background-color: var(--nav-hover-txt);
}

.btn-outline-success{
    border: var(--borders);
}

button.btn-outline-success:hover{
    background-color: var(--nav-hover-txt);
    color: var(--btn-hover-txt);
    border: var(--borders);
}

.logo{
    width: 5rem;
}

.navbar-brand{
    padding: 0;
}

.login{
    font-size: 1rem;
}

.nav-txt{
    font-size: 1rem;
    font-weight: 500;
}

.active-link{
    font-size: .8rem;
    padding-bottom: 13px;
}

a.dropdown-item{
    font-size: 1rem;
}

/* Footer */

footer{
    flex-shrink: 0;
    background-color: var(--header-footer);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--borders);
    max-height: 2.5rem;
}

.social{
    height: 2rem;
    margin: 1rem;
}

/* Buttons */

.delete{
    width: 1rem;
}

.recipe-delete{
    width: 1.5rem;
}

.edit{
    width: 1.5rem;    
}

.add{
    width: 1.5rem;
}

.btn-edit{
    padding: 0;
}

.btn-edit:hover{
    background-color: var(--nav-hover-txt);
}

.btn-view{
    justify-content: right;
    display: flex;
}

.btn-edit-view{
    justify-content: space-evenly;
    display: flex;
}

.btn-submit, .btn-cancel, .btn-return{
    background-color: var(--btn-color);
    border: var(--borders);
    font-size: 1rem;
    font-weight: 600;
}

.btn-submit:hover, .btn-cancel:hover, .btn-add:hover, .btn-return:hover{
    background-color: var(--nav-hover-txt);
}

.btn-delete{
    padding: 0 3px 2px 3px;
    margin: 0;
}

.btn-delete:hover, .btn-recipe-delete:hover{
    background-color: var(--delete);
    align-items: center;
}

.btn-recipe-delete{
    padding: 2px;
    justify-items: center;
    align-content: center;
    
}

/* Form */
.edit-form{
    width: 50%;
    font-size: 1.30rem;
    color: var(--main-txt);
    font-weight: 400;
}

.add-form{
    width: 75%;
    font-size: 1.30rem;
    color: var(--main-txt);
    font-weight: 400;
    text-align: center;
}

.add-form-info{
    text-align: right;
    padding-right: 5px;
}

.add-form-inputs{
    text-align: left;
    padding-left: 10px;
}

.form{
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--box-shadows);
    border: var(--borders);
    border-radius: 5px;
}

/* Generic */

.detail-container{
    display: flex;
    flex-wrap: wrap;
}

.method, .details, .description, .ingredients{
    flex: 100%; 
}

.bg-fade, .bg-fade-details, .bg-fade-home {
    background-color: var(--bg-cover) ;
}

.carousel-card{
    text-align: center;
    background-color: var(--carousel-card) ;
    justify-content: center;
    padding-top: 10px;

}

.home-section-header{
    text-align: center;
    font-size: 1.75rem;
}

.home-selection-header{
    text-align: center;
    font-size: 1.5rem;
}

.home-col{
    flex: 100%;
}

.carousel-name{
    font-size: 1.3rem;
    text-align: center;
}

.carousel-type{
    font-size: 1.05rem;
    text-align: center;
}

.carousel-desc{
    font-size: 1rem;
    color: var(--main-txt);
}

.card-link{
    text-decoration: none;
}

.card-name{
    font-size: 1.8rem;
    text-align: center;
}

.card-type{
    font-size: 1.35rem;
    text-align: center;
}

.card-desc{
    font-size: 1.15rem;
    color: var(--main-txt);
}

.card{
    background-color: var(--card-bg) ;
    background-size:cover;
    box-shadow: var(--box-shadows);
}

a.card-link:hover{
    background-color: var(--card-hover);
    box-shadow: var(--box-shadows);
    border-radius: 7px;
    padding: 0;
    margin: 0; 
}

.view-border{
    border: var(--border-view);
}

.view-headers{
    text-align: center;
}

.view-txt{
    padding: 0;
    margin: 0;
}

.add-header{
    text-align: center;
}

.detail-txt, .view-txt{
    font-size: 1.30rem;
    color: var(--main-txt);
    font-weight: 400;
}

/* Product Page */

.prodHeading{
    font-size: 1rem;
    text-decoration: 1px underline var(--black);
    padding: 0;
    margin: 0;
}

.product-table{
    border: 1px solid var(--black);
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

/* Media Queries */

@media screen and (min-width: 400px){
    .form {
        width: 75%;
    }
}

@media screen and (min-width: 500px){
    .method, .details, .description, .ingredients{
        flex: 50%;
    }
    .home-col{
        flex: 50%;
    }
}

@media screen and (min-width: 850px){
    .home-col{
        flex: 33%;
    }
}

@media screen and (min-width: 1200px){
    .form {
        width: 35%;
    }

    .bg-fade{
        max-width: 78%;
        padding: 0;
    }

    .bg-fade-details {
        max-width: 60%;
     }

    .bg-fade-home {
        max-width: 75%;
     }
}

@media screen and (min-width: 1500px){
    .form {
        width: 35%;
    }

    .bg-fade-details {
        max-width: 50%;
     }
}