{% load static %}

<footer class="sticky-bottom">
    <!-- Social media icons -->
    <a href="https://ie.linkedin.com/" target="_blank" rel="npppener" aria-label="linkedIn - Opens in a new tab">
        <img src="{% static '/icons/linkedin-icon.svg' %}" alt="LinkedIn Icon" class="social">
        
    </a>
    <a href="https://github.com/" target="_blank" rel="npppener" aria-label="Github - Opens in a new tab">
        <img src="{% static '/icons/github-icon.svg' %}" alt="Github Icon" class="social">
    </a>
</footer>