{% extends "base.html" %}
{% load static %}
{% block title %}Dessert View{% endblock %}
{% block content %}
<div class="container mt-3 pb-4 bg-fade-details">
    <div class="detail-container mb-2 pt-2 justify-content-center">
        <h1 class="view-headers">{{dessert.dessert_name|title}}</h1>
    </div>
    <div class="detail-container justify-content-center">
        <div class="p-3 details col view-border">
            <h2 class="view-headers">Details</h2>
            <p class="detail-txt">Recipe for a {{dessert.dessert_type}}</p>
            <p class="detail-txt">Recipe With {{dessert.dessert_meat_type}}</p>
            <div class="btn-view pt-3">
                <a href="{% url 'edit_dessert' pk=dessert.id%}" class="btn btn-edit" aria-label="Click to view ">
                    <img src="{% static '/icons/edit-icon.svg' %}" alt="Edit Icon" class="edit">
                </a>
            </div>
        </div>
        <div class="description col p-3 view-border">
            <h2 class="view-headers">Description</h2>
            <p class="view-txt">{{dessert.dessert_description}}</p>
        </div>
    </div>
    <div class="detail-container justify-content-center">
        <div class="ingredients col p-3 view-border">
            <h2 class="view-headers">Ingredients</h2>
            {% for dessert_ingredient in dessert_ingredients %}
            {% include "includes/dessert_ing_detail_view.html" %}
            {% endfor %}
            <div class="btn-view pt-3">
                <a href="{% url 'dessert_ingredients' pk=dessert.id%}" class="btn btn-edit"
                    aria-label="Click to edit ingredients ">
                    <img src="{% static '/icons/edit-icon.svg' %}" alt="Edit Icon" class="edit">
                </a>
            </div>
        </div>
        <div class="p-3 method col view-border">
            <h2 class="view-headers">Method</h2>
            {% for dessert_step in dessert_step %}
            {% include "includes/dessert_step_detail_view.html" %}
            {% endfor %}
            <div class="btn-view pt-3">
                <a href="{% url 'dessert_method' pk=dessert.id%}" class="btn btn-edit"
                    aria-label="Click to edit method ">
                    <img src="{% static '/icons/edit-icon.svg' %}" alt="Edit Icon" class="edit">
                </a>
            </div>
        </div>
    </div>
    <div class="detail-container btn-edit-view">
        <a href="{% url 'desserts' %}" class="btn btn-return mt-2" aria-label="Click to return">
            Return
        </a>
        <a href="{% url 'dessert_delete' dessert.id %}" class="btn btn-recipe-delete mt-2 pt-1"
            aria-label="Click to Delete">
            <img src="{% static '/icons/delete_icon.svg' %}" alt="Delete Icon" class="recipe-delete">
        </a>
    </div>
</div>
{% endblock %}