{% extends "base.html" %}
{% load static %}
{% block title %}Edit Dessert{% endblock %}
{% block content %}
<div class="container mt-5 py-4 bg-fade-details">
    <div class="detail-container mb-2 pt-2 justify-content-center">
        <h1 class="view-headers">{{dessert.dessert_name|title}}</h1>
    </div>
    <div class="detail-container justify-content-center">
        <div class="description col p-3 view-border">
            <div class="detail-container justify-content-center">
                <form action="." method="POST" enctype="multipart/form-data" class="edit-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="btn-edit-view">
                        <button type="submit" class="btn btn-submit mt-2" aria-label="Click to submit">
                            Submit
                        </button>
                        <a href="{% url 'dessert_view' dessert.id %}" class="btn btn-cancel mt-2"
                            aria-label="Click to Cancel">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="detail-container justify-content-center">
        <div class="ingredients col p-3 view-border">
            <h2 class="view-headers">Ingredients</h2>
            {% for dessert_ingredient in dessert_ingredients %}
            {% include "includes/dessert_ing_detail_view.html" %}
            {% endfor %}
        </div>
        <div class="p-3 method col view-border">
            <h2 class="view-headers">Method</h2>
            {% for dessert_step in dessert_step %}
            {% include "includes/dessert_step_detail_view.html" %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}