{% extends "base.html" %} 
{% load static %}
{% block title %}Sauce Recipes{% endblock %}

{% block content %}
<section>
    <div class="container mt-4 pb-4 bg-fade">
        <h1 class="text-center p-2 d-block">
            Sauce Recipes
        </h1>
        <div class="container d-flex flex-row flex-wrap justify-content-center">
            {% for sauce in sauces %} 
            <a href="{% url 'sauce_view' sauce.id %}" class="card-link" aria-label="Click to view {{sauce.sauce_name}}">
                <div class="card m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h2 class="card-name">{{sauce.sauce_name}}</h2>
                        <h3 class="card-type">{{sauce.sauce_type}}</h3>
                        <p class="card-desc">{{sauce.sauce_description|truncatechars:100}}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

</section>
{% endblock %}