{% extends "base.html" %}
{% load static %}
{% block content %}
<section>
    <div class="container mt-4 pb-4 bg-fade-details">
        <div class="detail-container mb-2 pt-2 justify-content-center">
            <h1 class="menu-title-header">{{menu.title|title}}</h1>
        </div>
        <div class="detail-container justify-content-center view-border">
            <div class="col p-3">
                <h2 class="menu-header text-center">{{menu.menu_type|title}}</h2>
            </div>
        </div>
        <div class="detail-container justify-content-center">
            <div class="description col p-3 view-border">
                <h2 class="menu-subheader text-center">Starters</h2>
                {% for starter_dish_item in starter_dish_item %}
                {% include "includes/menu_starter_view.html" %}
                {% endfor %}
            </div>
            <div class="description col p-3 view-border">
                <h2 class="menu-subheader text-center">Mains</h2>
                {% for main_dish_item in main_dish_item %}
                {% include "includes/menu_main_view.html" %}
                {% endfor %}
            </div>
            <div class="description col p-3 view-border">
                <h2 class="menu-subheader text-center">Desserts</h2>
                {% for dessert_dish_item in dessert_dish_item %}
                {% include "includes/menu_dessert_view.html" %}
                {% endfor %}
            </div>
            <div class="description col p-3 view-border">
                <h2 class="view-headers">Sides</h2>
                {% for side_item in side_item %}
                {% include "includes/menu_side_view.html" %}
                {% endfor %}
            </br>
                <h2 class="view-headers">Sauces</h2>
                {% for sauce_item in sauce_item %}
                {% include "includes/menu_sauce_view.html" %}
                {% endfor %}
            </div>

        </div>
        <div class="detail-container btn-edit-view">
            <a href="{% url 'menus' %}" class="btn btn-return mt-2" aria-label="Click to return">
                Return
            </a>
            <a href="{% url 'edit_menu' pk=menu.id%}" class="btn btn-return mt-2" aria-label="Click to edit menu ">
                Edit
            </a>
            <a href="{% url 'menu_delete' menu.id%}" class="btn btn-recipe-delete mt-2 pt-1" aria-label="Click to Delete">
                <img src="{% static '/icons/delete_icon.svg' %}" alt="Delete Icon" class="recipe-delete">
            </a>
        </div>
    </div>
</section>
{% endblock %}