{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5 py-4 bg-fade-details">
    <div class="detail-container mb-2 pt-2 justify-content-center">
        <h1 class="view-headers">Sides</h1>
    </div>
    <div class="detail-container justify-content-center">
        <div class="ingredients col p-3 view-border">
            {% for side_item in side_item %}
            {% include "includes/menu_side_details.html" %}
            {% endfor %}
            <div id="addsidesforms"></div>
            <div class="btn-edit-view">
                <button type="button" hx-get="{% url 'add_menu_side' %}" hx-target="#addsidesforms" hx-swap="beforeend"
                    class="btn btn-return" aria-label="Click to edit ingredients ">
                    Add
                </button>
            </div>
        </div>
    </div>
    <div class="btn-edit-view mt-5 pb-4">
        <a href="{% url 'add_sauce_item' menu.id%}" class="btn btn-return mt-2" aria-label="Click to return">
            Next
        </a>
    </div>
</div>
{% endblock %}