{% load static %}
<div hx-target="this">
    <div class="detail-container row">
        <div class="col-10">
            <p class="view-txt">- {{ starter_dish_sauce}}</p>
        </div>
        <div class="btn-view col-2">
            <button hx-get="{% url 'update_starter_dish_sauce' starter_dish_sauce.id %}" hx-ta="outerHTML"
                class="btn btn-edit">
                <img src="{% static '/icons/edit-icon.svg' %}" alt="Edit Icon" class="edit">
            </button>
            <button hx-post="{% url 'delete_starter_dish_sauce' starter_dish_sauce.id %}" hx-swap="outerHTML swap:1s"
                class="btn btn-delete">
                <img src="{% static '/icons/delete_icon.svg' %}" alt="Delete Icon" class="delete">
            </button>
        </div>
    </div>
</div>