{% extends "base.html" %}
{% load static %}
{% block title %}Edit Starter Recipe{% endblock %}
{% block content %}
<div class="container mt-5 py-4 bg-fade-details">
    <div class="detail-container mb-2 pt-2 justify-content-center">
        <h1 class="view-headers">{{starter.starter_name|title}}</h1>
    </div>
    <div class="detail-container justify-content-center">
        <div class="description col p-3 view-border">
            <div class="detail-container justify-content-center">
                <form action="." method="POST" enctype="multipart/form-data" class="edit-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="btn-edit-view">
                        <button type="submit" class="btn btn-submit mt-2" aria-label="Click to submit">
                            Submit
                        </button>
                        <a href="{% url 'starter_view' starter.id %}" class="btn btn-cancel mt-2"
                            aria-label="Click to Cancel">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="detail-container justify-content-center">
        <div class="ingredients col p-3 view-border">
            <h2 class="view-headers">Ingredients</h2>
            {% for starter_ingredient in starter_ingredients %}
            {% include "includes/starter_ing_detail_view.html" %}
            {% endfor %}
        </div>
        <div class="p-3 method col view-border">
            <h2 class="view-headers">Method</h2>
            {% for starter_step in starter_step %}
            {% include "includes/starter_step_detail_view.html" %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}