{% extends "base.html" %}
{% load static %}
{% block title %}Main Course Method{% endblock %}
{% block content %}
<div class="container mt-3 pb-4 bg-fade-details">
    <div class="detail-container mb-2 pt-2 justify-content-center">
        <h1 class="view-headers">{{main.main_name|title}}</h1>
    </div>
    <div class="detail-container justify-content-center">
        <div class="p-3 details col view-border">
            <h2 class="view-headers">Details</h2>
            <p class="detail-txt">Recipe for a {{main.main_type}}</p>
            <p class="detail-txt">Recipe With {{main.main_meat_type}}</p>
            <div class="btn-view">
                <a href="{% url 'edit_main' pk=main.id%}" class="btn btn-edit"
                    aria-label="Click to edit Recipe details ">
                    <img src="{% static '/icons/edit-icon.svg' %}" alt="Edit Icon" class="edit">
                </a>
            </div>
        </div>
        <div class="description col p-3 view-border">
            <h2 class="view-headers">Description</h2>
            <p class="view-txt">{{main.main_description}}</p>
        </div>
    </div>
    <div class="detail-container justify-content-center">
        <div class="ingredients col p-3 view-border">
            <h2 class="view-headers">Ingredients</h2>
            {% for main_ingredient in main_ingredients %}
            {% include "includes/main_ing_detail_view.html" %}
            {% endfor %}
            <div class="btn-view">
                <a href="{% url 'main_ingredients' pk=main.id%}" class="btn btn-edit"
                    aria-label="Click to edit ingredients ">
                    <img src="{% static '/icons/edit-icon.svg' %}" alt="Edit Icon" class="edit">
                </a>
            </div>
        </div>
        <div class="p-3 method col view-border">
            <h2 class="view-headers">Method</h2>
            {% for main_step in main_step %}
            {% include "includes/main_step_details.html" %}
            {% endfor %}
            <div id="addmainstep"></div>
            <div class="btn-edit-view">
                <button type="button" hx-get="{% url 'add_main_step' %}" hx-target="#addmainstep" hx-swap="beforeend"
                    class="btn btn-add" aria-label="Click to Add steps">
                    <img src="{% static '/icons/add-icon.svg' %}" alt="Add Icon" class="add">
                </button>
            </div>
        </div>
        <div>
            <a href="{% url 'main_view' main.id %}" class="btn btn-return mt-2" aria-label="Click to return">
                Return
            </a>
        </div>
    </div>
</div>
{% endblock %}