{% extends "base.html" %} 
{% load static %}
{% block title %}Main Course Recipes{% endblock %}

{% block content %}
<section>
    <div class="container mt-4 pb-4 bg-fade">
        <h1 class="text-center p-2 d-block">
            Main Course Recipes
        </h1>
        <div class="container d-flex flex-row flex-wrap justify-content-center">
            {% for main in mains %} 
            <a href="{% url 'main_view' main.id %}" class="card-link" aria-label="Click to view {{main.main_name}}">
                <div class="card m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h2 class="card-name">{{main.main_name}}</h2>
                        <h3 class="card-type">{{main.main_type}}</h3>
                        <p class="card-desc">{{main.main_description|truncatechars:100}}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

</section>
{% endblock %}