{% load static %}
<form method="POST" hx-target="this" hx-swap="outerHTML" hx-post="." id="starter-step-form" class="edit-form">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="btn-edit-view pb-2">
        {% if starter_step %}
        <button type="submit" hx-post="{% url 'update_starter_step' starter_step.id %}" class="btn btn-submit mt-2">
            Submit
        </button>
        {% else %}
        <button type="submit" id="starter-step-form" class="btn btn-submit mt-2">
            Add
        </button>
        {% endif %}
    </div>
</form>