{% extends "base.html" %}
{% load static %}
{% block title %}Dessert Sauce Recipes{% endblock %}

{% block content %}
<div class="container mt-5 py-4 bg-fade">
    <h1 class="text-center p-2 d-block">
        Dessert Sauce Recipes
    </h1>
    <div class="container d-flex flex-row flex-wrap justify-content-center">
        {% for dessert_sauce in dessert_sauces %}
        <a href="{% url 'dessert_sauce_view' dessert_sauce.id %}" class="card-link"
            aria-label="Click to view {{dessert_sauce.dessert_sauce_name}}">
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-name">{{dessert_sauce.dessert_sauce_name}}</h2>
                    <h3 class="card-type">{{dessert_sauce.dessert_sauce_type}}</h3>
                    <p class="card-desc">{{dessert_sauce.dessert_sauce_description|truncatechars:100}}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}