<form method="POST" hx-target="this" hx-swap="outerHTML" hx-post="." id="dessert-step-form" class="edit-form">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="btn-edit-view pb-2">
        {% if dessert_step %}
            <button type="submit" hx-post="{% url 'update_dessert_step' dessert_step.id %}"
                class="btn btn-submit mt-2">
                Submit
            </button>
        {% else %}
            <button type="submit" id="dessert-step-form" 
                class="btn btn-submit mt-2">
                Add
            </button>
        {% endif %}
    </div>
</form>



